@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  color:black;
  text-decoration: none;
}

li a {
  color: #e5e7eb;
}

.header {
  background-color: #1f2937;
  padding: 0 140px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px
}

.logo {
  color: #f9f2f8;
}

.nav {
  display: flex;
  gap: 16px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

.hero-main {
  color: #f9f2f8;
}

.hero-secondary {
  color: #e5e7eb;
}

.image-placeholder {
  color: #f9f2f8;
  background-color: #616c84;
  flex-shrink: 0; 
  padding: 80px;
}
